---
import BaseLayout from "../components/BaseLayout.astro";

const title = "About Nick";
const description = "About Nick, a software engineer from Belgium.";
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/professional-picture.webp" alt="Illustration of a notebook" width="330">
    </figure>
    <p>Hi, I'm Nick 👋, a software engineer from Belgium. I help teams solve business problems as a tech lead, architect or individual contributor.</p>
    <p>The challenge of leveraging technology to turn fuzzy problems into crisp software solutions is what I love the most. Always balancing best practices, pragmatism and creativity.</p>
    <p>In our industry, it's important to use the right tool for the right job. I'm particularly skilled with Javascript (Typescript), Go, Java (Kotlin, Groovy) and the surrounding open-source ecosystems.</p>
    <p><a id="maillink" href=""></a></p>
    <script type="text/javascript">
      let emailAddress = "nick[at]nvnh[dot]io";
      setTimeout(() => {
        emailAddress = emailAddress.replaceAll("[at]", "@");
        emailAddress = emailAddress.replaceAll("[dot]", ".");
        const element = document.getElementById("maillink");
        element.href = `mailto:${emailAddress}`;
        element.innerText = emailAddress;
      }, 200);
    </script>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 50%;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
      max-width: 200px;
    }
  }
</style>
